body {
    background-color: #fae1c8;
    max-width: 96%;
    margin: auto;
}

h1 {
    text-align: center;
}

.home {
    color: #000000;
    text-decoration: none;
}

a.home:hover {
    text-decoration: underline;
}

.reading {
    color: #000000;
    font-weight: bold;
}

.vns {
    color: #000000;
    font-weight: bold;
}

.main-nav {
    display: flex;
    justify-content: center;
}

.main-nav {
    color: #000000;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}

a.main-nav:hover {
    text-decoration: underline;
}

.foot {
    text-align: center;
}

.foot2 {
    position: fixed;
    bottom: 0;
    right: 1%;
}

.ul-nav {
    list-style-type: none;
}

.index-hr {
    border: 1px solid #000000;
}

