body {
    background-image: url("../img/synthwave-background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
    max-width: 96%;
    margin: auto;
}

.index-heading {
    text-align: center;
    color: #fd00ff;
    text-decoration: none;
}

.index-heading:hover {
    text-decoration: underline;
}

.index-nav {
    color: #fd00ff;
    text-align: left;
}

.index-nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    padding: 0%;
}

.index-nav-a {
    color: #fd00ff;
    text-decoration: none;
    border: 1px solid #fd00ff;
    width: 20%;
    padding: 1%;
    margin: 0.3%;
    text-align: center;
}

.index-nav-a:hover {
    text-decoration: underline;
}

.index-body {
    color: #fd00ff;
}

.index-hr {
    border: 1px solid #fd00ff;
}

.index-read {
    color: #fd00ff;
    text-decoration: none;
}

.index-read:hover {
    text-decoration: underline;
}

.pink-link {
    color: #fd00ff;
    text-decoration: none;
}

.pink-link:hover {
    text-decoration: underline;
}

.yellow {
    color: #ffff00;
}

.yellow-link {
    color: #ffff00;
    text-decoration: none;
}

.yellow-link:hover {
    text-decoration: underline;
}
