body {
    background-color: #000000;
    max-width: 96%;
    margin: auto;
}

.index-heading {
    text-align: center;
    color: #00ff00;
    text-decoration: none;
}

.index-heading:hover {
    text-decoration: underline;
}

.index-nav {
    color: #00ff00;
    text-align: center;
}

.index-nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    padding: 0%;
}

.index-nav-a {
    color: #00ff00;
    text-decoration: none;
    border: 1px solid #00ff00;
    width: 20%;
    padding: 1%;
    margin: 0.3%;
    text-align: center;
}

.index-nav-a:hover {
    text-decoration: underline;
}

.index-body {
    color: #00ff00;
    text-align: center;
}

.index-hr {
    border: 1px solid #00ff00;
}

.index-read {
    color: #00ff00;
    text-decoration: none;
}
